@using DancingGoat.Models;
@using KontentAiModels;
@model KontentAiModels.CallToAction;
@{
    var link = @Model.Target.First();
}

<div style="clear:both; text-align: center;">
    <div class="article-tile">
        <div class="article-tile-content">
            <h2 class="h4">
                @Html.DisplayFor(vm => vm.Text)
            </h2>
            <p class="article-tile-text">
            <div>
                @Html.DisplayFor(vm => vm.Target)
            </div>
            </p>
        </div>
    </div>
</div>